<div class="footer pt-4">
  
    <div class=" card-group my-5 py-3 d-flex justify-content-evenly">
        <div class=" text-white">
            <div class="card-body w-100 text-center ms-5">
                <h3 >LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p >Clark, MO 65243</p>
            </div>
        </div>
        <div  class=" text-white">
            <div class="card-body w-100 text-center ms-5">
                <h3 >AROUND THE WEB</h3>
                <div class="icons">

                <i class="fa fa-facebook mx-1 icon"></i>
               <i class="fa fa-twitter mx-1 icon"></i>
               <i class="fa fa-linkedin mx-1 icon"></i>
               <i class="fa fa-globe mx-1 icon"></i>

            </div>
        </div>
    </div>
    <div class=" text-white  ">
        <div  class="card-body text-center w-75 ms-5">
            <h3 >ABOUT FREELANCER</h3>
            <p > Freelance is a free to use, licensed Bootstrap theme created by Route </p>
    </div>
   </div>
  </div>
  <div  class="p py-3"><p class="text-white text-center">Copyright © Your Website 2021</p></div>
 </div>
 


