<div class="mb-4">
    <div class="pt-5">
       <div class="text-center pt-5">
        <h2 class="portfolio-title text-uppercase mb-3 fs-1 fw-bolder pt-5">portfolio component</h2>
           <div class="d-flex align-items-center justify-content-center mb-3">
               <div class="line me-3"></div>    
                 <i class="fa fa-star iconstar"></i>
                  <div class="line ms-3"></div>
                      </div>
                    </div>
                    <div class="container">
                        <div class="row g-5">
                            <div class="col-lg-4 col-md-6">
                                <div (click)="openModal('/images/poert1.png')" class="rounded-3 overflow-hidden position-relative layer ">
                                    <img alt="" class="w-100 rounded-3 " src="/images/poert1.png">
                                    <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                       <i class="fa fa-plus fa-5x text-white"></i>

                                          </div>
                                           </div>
                                             </div>
                                               <div class="col-lg-4 col-md-6">
                                                 <div (click)="openModal('/images/port2.png')" class="rounded-3 overflow-hidden position-relative layer">
                                                    <img alt="" class="w-100 rounded-3 " src="/images/port2.png">
                                                    <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                                        <i class="fa fa-plus fa-5x text-white"></i>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div (click)="openModal('/images/port3.png')" class="rounded-3 overflow-hidden position-relative layer">
                                                    <img alt="" class="w-100 rounded-3 " src="/images/port3.png">
                                                    <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                                        <i class="fa fa-plus fa-5x text-white"></i>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div (click)="openModal('/images/poert1.png')"  class="rounded-3 overflow-hidden position-relative layer">
                                                    <img alt="" class="w-100 rounded-3 " src="/images/poert1.png">
                                                    <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                                       <i class="fa fa-plus fa-5x text-white"></i>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div (click)="openModal('/images/port2.png')" class="rounded-3 overflow-hidden position-relative layer">
                                                    <img alt="" class="w-100 rounded-3 " src="/images/port2.png">
                                                    <div  class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                                        <i class="fa fa-plus fa-5x text-white"></i>

                                                    </div>
                                                </div>
                                            </div>
                                            <div  class="col-lg-4 col-md-6">
                                                <div (click)="openModal('/images/port3.png')" class="rounded-3 overflow-hidden position-relative layer">
                                                    <img  alt="" class="w-100 rounded-3 " src="/images/port3.png">
                                                    <div class="layer__ position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                                       <i class="fa fa-plus fa-5x text-white"></i>

                                                    </div>
                                                </div>
                                            </div>
                                       </div>
                                    </div>
                                </div>
                                <div [class.d-none]="!isModalOpen"(click) ="closeModal()" class="model__ position-fixed start-0 w-100 top-0 h-100 bg-primary bg-opacity-25 d-flex justify-content-center align-items-center d-none">
                                    <img  [src]="selectedImage"  alt="modal image" style="max-width: 70%; max-height: 70%;">
                                </div>
                            </div>
