

<div class="about text-white d-flex justify-content-center align-items-center py-5">
    <div class="container my-5">
        <div class="text-center pt-5">
            <h2 class="text-uppercase mb-3 fs-1 fw-bolder ">about component</h2>
            <div  class="d-flex align-items-center justify-content-center mb-3">
                 <div class="line me-3"></div>    
                 <i class="fa fa-star"></i>
                <div class="line ms-3"></div>
            </div>
        </div>
            <div class="container">
                <div  class="row px-5">
                    <div  class="col-md-6 ps-md-5">
                        <p > Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
                    </div>
                    <div class="col-md-6 pe-5">
                        <p > Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
