<div class="mb-4 pt-5">
    <div class="pt-5 conatiner">
       <div class="text-center">
        <h2 class=" contact-title text-uppercase mb-3 fs-1 fw-bolder pt-5">conatct section</h2>
          <div class="d-flex align-items-center justify-content-center mb-3">
              <div class="line me-3"></div>    
                 <i class="fa fa-star iconstar"></i>
                  <div class="line ms-3"></div>
                 </div>
                </div>
           <form class="w-50 p-3 mx-auto mt-5 ng-untouched ng-pristine ng-valid">
            <div class="form-group position-relative mb-4">
              <label [class.floating]="userFocused || userName"  for="userName" class="position-relative top-0 __top form-label">userName : </label>
              <input [(ngModel)]="userName" id="userName" type="text" placeholder="userName" name="userName" class="form-control  peer border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
            </div>

             <div class="form-group position-relative mb-4">
               <label [class.floating]="userFocused || userAge" for="userAge" class="position-relative top-0 __top form-label">userAge : </label>
               <input [(ngModel)]="userAge"  id="userAge" type="text" placeholder="userAge" name="userName" class="form-control peer border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
            </div>
             <div class="form-group position-relative mb-4">
               <label [class.floating]="userFocused || userEmail"  for="userEmail" class="position-relative top-0 __top form-label">userEmail : </label>
               <input [(ngModel)]="userEmail" id="userEmail" type="text" placeholder="userEmail" name="userName" class="form-control peer border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
            </div>

             <div class="form-group position-relative mb-4">
              <label  [class.floating]="userFocused || userPassword"  for="userPassword" class="position-relative top-0 __top form-label">userPassword : </label>
              <input [(ngModel)]="userPassword" id="userPassword" type="text" placeholder="userPassword" name="userName" class="form-control border-0 border-bottom py-3 position-relative ng-untouched ng-pristine ng-valid">
            </div>
            
            <button class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button>
        </form>
    </div>
</div>
